<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>paste</title>
    </head>
    <body>
        <form method="POST" action="/paste_register">
            <p>タイトル</p>
            <input type="text" name="title" size="30">
            <p>貼付データ</p>
            <textarea name="paste_data" rows="20" cols="40"></textarea>
            <br>
            <br>
            <input type="submit" value="送信">&nbsp;
            <input type="reset" value="リセット">
        </form>
        <br>
        <a href="/">TOPに戻る!</a>
    </body>